[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/wombat"]
	path = bundle/wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule "bundle/fruity"]
	path = bundle/fruity
	url = https://github.com/vim-scripts/fruity.vim.git
